@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
  
*{
    font-family: "Raleway", sans-serif;
}

h1 , h2 , h3 , h4 {
    font-family: "Lato", sans-serif;
}

figure {
    width: 50px;
    height: 50px;
}

figure img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    border : 2px solid black;
    box-shadow: 3px, 3px, 3px, 2px, black;
    box-sizing: border-box;
}

header {
    background-color: #782221;
    
}

header div {
    background-color: #2c1d27;
}

main {
    display: flex;
    flex-direction: row;
}

#red {
    background-color: #782221;
}





footer {
    display: flex;
    flex-direction: column;
}

footer section {
    display: flex;
    flex-direction: row;
    justify-content: center;
}